[submodule "plugins/emacs-rails"]
	path = plugins/emacs-rails
	url = git://github.com/remvee/emacs-rails.git
[submodule "plugins/yasnippet"]
	path = plugins/yasnippet
	url = git://github.com/capitaomorte/yasnippet.git
[submodule "plugins/fuzzy-find-in-project"]
	path = plugins/fuzzy-find-in-project
	url = git://github.com/justinweiss/fuzzy-find-in-project.git
